In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("Spinny/spinny_mumbai.csv")
data.head()

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Hyundai Grand i10 Nios Era 1.2 Kappa VTVT,5.48 Lakh,2021,23K km,Petrol,"Spinny Hub, Kohinoor Square Mall, Dadar, Mumbai"
1,Honda Amaze 1.2 VX CVT i-VTEC,8.82 Lakh,2022,6K km,Petrol,"Spinny Hub, Neelkanth Business Park, Vidyaviha..."
2,Tata Altroz XM Plus 1.2,6.58 Lakh,2021,23K km,Petrol,"Spinny Hub, Neelkanth Business Park, Vidyaviha..."
3,Tata Punch Adventure Rhythm Pack MT,6.78 Lakh,2022,10K km,Petrol,"Spinny Hub, Neelkanth Business Park, Vidyaviha..."
4,Renault Triber RXT,6.63 Lakh,2022,7K km,Petrol,"Spinny Hub, Neelkanth Business Park, Vidyaviha..."

In [3]:
data_with_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" in x.split(" ") else False)]
data_with_mumbai['Location'].value_counts()

Location
Spinny Hub, Kohinoor Square Mall, Dadar, Mumbai            134
Spinny Hub, Neelkanth Business Park, Vidyavihar, Mumbai    128
Spinny Hub, Seawoods, Navi Mumbai                          121
Name: count, dtype: int64

In [4]:
data_with_mumbai['Location'].value_counts().sum()

383

In [5]:
data_without_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" not in x.split(" ") else False)]
data_without_mumbai['Location'].value_counts()

Location
Spinny Hub, Korum Mall, Thane    126
Name: count, dtype: int64

In [6]:
data_without_mumbai['Location'].value_counts().sum()

126

In [7]:
data['Location'] = data['Location'].apply(lambda x: x+", Mumbai" if "Mumbai" not in x else x)

In [8]:
data_without_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" not in x.split(" ") else False)]
data_without_mumbai['Location'].value_counts()

Series([], Name: count, dtype: int64)

In [9]:
data_without_mumbai['Location'].value_counts().sum()

0

In [10]:
data_with_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" in x.split(" ") else False)]
data_with_mumbai['Location'].value_counts()

Location
Spinny Hub, Kohinoor Square Mall, Dadar, Mumbai            134
Spinny Hub, Neelkanth Business Park, Vidyavihar, Mumbai    128
Spinny Hub, Korum Mall, Thane, Mumbai                      126
Spinny Hub, Seawoods, Navi Mumbai                          121
Name: count, dtype: int64

In [11]:
data_with_mumbai['Location'].value_counts().sum()

509

In [12]:
data.to_csv("Spinny/corrected_data/spinny_mumbai_corrected.csv")

In [13]:
data = pd.read_csv("Spinny/spinny_delhi.csv")
data.head()

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Maruti Suzuki Baleno Alpha Petrol,5.76 Lakh,2016,46K km,Petrol,"Spinny Hub, Rcube Monad Mall, Rajouri"
1,Maruti Suzuki Baleno Delta Petrol,6.53 Lakh,2021,26K km,Petrol,"Spinny Hub, Rcube Monad Mall, Rajouri"
2,Hyundai i10 Magna 1.2 Petrol,2.39 Lakh,2012,46K km,Petrol,"Spinny Hub, Rcube Monad Mall, Rajouri"
3,Maruti Suzuki Celerio ZXI,3.32 Lakh,2015,76K km,Petrol,"Spinny Hub, Taj Vivanta, Dwarka, Delhi"
4,Hyundai Grand i10 Sportz (O) 1.2 kappa VTVT,4.63 Lakh,2017,72K km,Petrol,"Spinny Hub, Rcube Monad Mall, Rajouri"

In [14]:
data['Location'].value_counts()

Location
Spinny Hub, Taj Vivanta, Dwarka, Delhi    256
Spinny Hub, Rcube Monad Mall, Rajouri     221
Max Hub @ Trillium Avenue, Gurgaon         26
Name: count, dtype: int64

In [15]:
data_without_delhi = data[data['Location'].apply(lambda x: True if "Delhi" not in x.split(" ") else False)]
data_without_delhi['Location'].value_counts()

Location
Spinny Hub, Rcube Monad Mall, Rajouri    221
Max Hub @ Trillium Avenue, Gurgaon        26
Name: count, dtype: int64

In [16]:
data_without_delhi['Location'].value_counts().sum()

247

In [17]:
data_with_delhi = data[data['Location'].apply(lambda x: True if "Delhi" in x.split(" ") else False)]
data_with_delhi['Location'].value_counts()

Location
Spinny Hub, Taj Vivanta, Dwarka, Delhi    256
Name: count, dtype: int64

In [19]:
data_with_delhi['Location'].value_counts().sum()

256

In [20]:
data['Location'] = data['Location'].apply(lambda x: x+", Delhi" if"Delhi" not in x.split(" ") else x )

In [21]:
data_with_delhi = data[data['Location'].apply(lambda x: True if "Delhi" in x.split(" ") else False)]
data_with_delhi['Location'].value_counts()

Location
Spinny Hub, Taj Vivanta, Dwarka, Delhi          256
Spinny Hub, Rcube Monad Mall, Rajouri, Delhi    221
Max Hub @ Trillium Avenue, Gurgaon, Delhi        26
Name: count, dtype: int64

In [22]:
data_with_delhi['Location'].value_counts().sum()

503

In [23]:
data.to_csv("Spinny/corrected_data/spinny_delhi_corrected.csv")