In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("OLX/olx_mumbai.csv")
data.head()

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Mercedes-Benz C-Class,"22,51,111",2015,"62,000 km",Diesel,Bandra West
1,Mercedes-Benz E-Class,"15,50,000",2014,"72,000 km",Diesel,Bandra West
2,Audi Q7,"39,99,999",2016,"66,000 km",Diesel,Bandra West
3,Hyundai i10,"2,99,000",2013,"12,000 km",Petrol,Mahim
4,Kia Seltos,"15,35,000",2019,"47,425 km",Diesel,Chembur

In [3]:
data['Location'].value_counts()

Location
Chembur                        127
Bandra West                    108
Vile Parle East                 35
Kurla West                      26
Santacruz West                  24
Matunga Road                    23
Santacruz East                  18
Dadar East                      14
Mahim                           11
Bandra East                      9
Sion West                        8
Juhu Tara Road                   8
Khar West                        8
Vile Parle West                  7
Sion East                        6
Vidya Nagari                     5
Vaibhav Nagar                    5
Bandra Kurla Complex             5
Kurla East                       3
Wadala West                      3
Dadar West                       2
Tilak Nagar                      2
Dharavi                          1
Waterfield Road Bandra West      1
Guru Teg Bahadur Nagar           1
Kalina                           1
Vaidya Nagar                     1
Matunga East                     1
Name: count, dtype: int64

In [4]:
data['Location'] = data['Location'].apply(lambda x: x+ ", Mumbai" if "Mumbai" not in x.split(" ") else x)

In [5]:
data['Location'].value_counts()

Location
Chembur, Mumbai                        127
Bandra West, Mumbai                    108
Vile Parle East, Mumbai                 35
Kurla West, Mumbai                      26
Santacruz West, Mumbai                  24
Matunga Road, Mumbai                    23
Santacruz East, Mumbai                  18
Dadar East, Mumbai                      14
Mahim, Mumbai                           11
Bandra East, Mumbai                      9
Sion West, Mumbai                        8
Juhu Tara Road, Mumbai                   8
Khar West, Mumbai                        8
Vile Parle West, Mumbai                  7
Sion East, Mumbai                        6
Vidya Nagari, Mumbai                     5
Vaibhav Nagar, Mumbai                    5
Bandra Kurla Complex, Mumbai             5
Kurla East, Mumbai                       3
Wadala West, Mumbai                      3
Dadar West, Mumbai                       2
Tilak Nagar, Mumbai                      2
Dharavi, Mumbai                          1
Waterfield Road Bandra West, Mumbai      1
Guru Teg Bahadur Nagar, Mumbai           1
Kalina, Mumbai                           1
Vaidya Nagar, Mumbai                     1
Matunga East, Mumbai                     1
Name: count, dtype: int64

In [7]:
data_with_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" in x.split(" ") else False)]
data_with_mumbai['Location'].value_counts()

Location
Chembur, Mumbai                        127
Bandra West, Mumbai                    108
Vile Parle East, Mumbai                 35
Kurla West, Mumbai                      26
Santacruz West, Mumbai                  24
Matunga Road, Mumbai                    23
Santacruz East, Mumbai                  18
Dadar East, Mumbai                      14
Mahim, Mumbai                           11
Bandra East, Mumbai                      9
Sion West, Mumbai                        8
Juhu Tara Road, Mumbai                   8
Khar West, Mumbai                        8
Vile Parle West, Mumbai                  7
Sion East, Mumbai                        6
Vidya Nagari, Mumbai                     5
Vaibhav Nagar, Mumbai                    5
Bandra Kurla Complex, Mumbai             5
Kurla East, Mumbai                       3
Wadala West, Mumbai                      3
Dadar West, Mumbai                       2
Tilak Nagar, Mumbai                      2
Dharavi, Mumbai                          1
Waterfield Road Bandra West, Mumbai      1
Guru Teg Bahadur Nagar, Mumbai           1
Kalina, Mumbai                           1
Vaidya Nagar, Mumbai                     1
Matunga East, Mumbai                     1
Name: count, dtype: int64

In [8]:
data_with_mumbai['Location'].value_counts().sum()

463

In [10]:
data.to_csv("OLX/corrected_data/olx_mumbai_corrected.csv")

In [11]:
data = pd.read_csv("OLX/olx_hyderabad.csv")
data.head()

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Audi A4,"42,00,000",2022,"13,000 km",Petrol,"Venktagiri Nagar, Hyderabad"
1,Hyundai i20,"5,45,000",2015,"76,000 km",Diesel,"Begumpet, Secunderabad"
2,Honda City,"7,35,000",2017,"53,789 km",Petrol,"Madhapur, Hyderabad"
3,Maruti Suzuki Alto-800,"2,65,000",2015,"55,000 km",Petrol,"Balkampet, Hyderabad"
4,Kia Seltos,"9,90,000",2021,"44,972 km",Petrol,"Kukatpally, Hyderabad"

In [12]:
data_with_hyderabad = data[data['Location'].apply(lambda x: True if "Hyderabad" in x.split(" ") else False)]
data_with_hyderabad['Location'].value_counts()

Location
Madhapur, Hyderabad                120
Balkampet, Hyderabad                81
Kukatpally, Hyderabad               72
Yousuf Guda, Hyderabad              25
Ameerpet, Hyderabad                 22
BK Guda, Hyderabad                  21
Begumpet, Hyderabad                 20
Venktagiri Nagar, Hyderabad         18
Moosapet, Hyderabad                  8
Qutbullapur, Hyderabad               6
Panjagutta, Hyderabad                3
Zahra Nagar, Hyderabad               3
Mythri Nagar, Hyderabad              3
Sanath Nagar, Hyderabad              3
Bowenpally, Hyderabad                3
Bala Nagar, Hyderabad                2
Anjaneya Nagar, Hyderabad            1
Sundar Nagar, Hyderabad              1
Sanjeeva Reddy Nagar, Hyderabad      1
South Park, Hyderabad                1
Rajarajeshwari Nagar, Hyderabad      1
Chandra Nagar, Hyderabad             1
Somajiguda, Hyderabad                1
Alwal, Hyderabad                     1
Rasoolpura, Hyderabad                1
Name: count, dtype: int64

In [13]:
data_with_hyderabad['Location'].value_counts().sum()

419

In [14]:
data['Location'] = data['Location'].apply(lambda x: x+", Hyderabad" if "Hyderabad" not in x else x)

In [16]:
data_with_hyderabad = data[data['Location'].apply(lambda x: True if "Hyderabad" in x.split(" ") else False)]
data_with_hyderabad['Location'].value_counts().sum()

451

In [17]:
data.to_csv("OLX/corrected_data/olx_hyderabad_corrected.csv")

In [18]:
data = pd.read_csv("OLX/olx_pune.csv")
data.head()

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Maruti Suzuki Baleno,"7,90,000",2021,"15,000 km",Petrol,"Pune Vidyapith, Pune"
1,Nissan Micra,"2,77,000",2012,"87,000 km",Diesel,"Pune Cantonment, Pune"
2,Audi A6,"12,99,000",2014,"98,000 km",Diesel,"Pune Vidyapith, Pune"
3,Maruti Suzuki Wagon-R-1-0,"3,35,000",2013,"78,000 km",CNG & Hybrids,"Gultekadi, Pune"
4,Kia Sonet,"11,25,000",2021,"25,000 km",Diesel,"Shivaji Nagar, Pune"

In [19]:
data['Location'].value_counts()

Location
Swargate, Pune                       81
Shivaji Nagar, Pune                  73
Pune Vidyapith, Pune                 64
Koregaon park, Pune                  47
Khadki, Pune                         21
Vishrant Wadi, Pune                  18
Pune Cantonment, Pune                17
Central Street Camp, Pune            16
Walvekar Nagar, Pune                 14
Modi Colony, Pune                    13
Sadashiv Peth, Pune                  11
Ganesh Nagar, Pune                    9
Swatantrya Sainik Nagar, Pune         8
Wakadewadi, Pune                      8
Sopan Baug, Pune                      7
Law College, Pune                     7
Model Colony, Pune                    6
MG Road, Pune                         4
Mangalwar Peth, Pune                  4
Prabhat Road, Pune                    3
Gultekadi, Pune                       3
Chatushrungi Temple, Pune             3
East Street Road, Pune                2
Phule Nagar, Pune                     1
Bopodi, Pune                          1
Parvati, Pune                         1
Khadki Jai Jawan Nagar, Pune          1
Deccan Gymkhana, Pune                 1
Narayan Peth, Pune                    1
Cantonment Residential Area, Pune     1
Rasta Peth, Pune                      1
Bhawani Peth, Pune                    1
Sangamwadi, Pune                      1
Shastri Nagar, Pune                   1
Name: count, dtype: int64

In [25]:
data[data['Location'].apply(lambda x: True if "Pune" in x.split(" ")[::-1] else x)]

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Maruti Suzuki Baleno,"7,90,000",2021,"15,000 km",Petrol,"Pune Vidyapith, Pune"
1,Nissan Micra,"2,77,000",2012,"87,000 km",Diesel,"Pune Cantonment, Pune"
2,Audi A6,"12,99,000",2014,"98,000 km",Diesel,"Pune Vidyapith, Pune"
3,Maruti Suzuki Wagon-R-1-0,"3,35,000",2013,"78,000 km",CNG & Hybrids,"Gultekadi, Pune"
4,Kia Sonet,"11,25,000",2021,"25,000 km",Diesel,"Shivaji Nagar, Pune"
...,...,...,...,...,...,...
445,Hyundai Creta,"11,80,000",2018,"58,000 km",Petrol,"Swargate, Pune"
446,Mercedes-Benz C-Class,"12,75,000",2013,"75,430 km",Diesel,"Law College, Pune"
447,Honda City,"3,40,000",2010,"99,400 km",CNG & Hybrids,"Pune Vidyapith, Pune"
448,Tata Nano,"88,000",2011,"29,900 km",Petrol,"Pune Vidyapith, Pune"
449,Hyundai Elite i20,"5,55,000",2016,"19,000 km",Petrol,"Sadashiv Peth, Pune"

In [ ]:
# in pune there is pune cantonment and pune vidyapith which come before the actual location pune thats why we are reversing the list then checking