In [2]:
import pandas as pd

In [2]:
data = pd.read_csv("Cars24/cars24_mumbai.csv")
data.head(5)

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Maruti Ertiga,"6,51,000",2016,"98,246 KM",CNG,"Rupa Renaissance, Navi Mumbai"
1,Hyundai i10,"1,86,000",2010,"92,421 KM",PETROL,"Goregaon, Mumbai"
2,Toyota Corolla Altis,"4,90,000",2012,"60,438 KM",PETROL,Mulund
3,Honda City,"4,88,000",2014,"72,419 KM",PETROL,"Goregaon, Mumbai"
4,Maruti Alto 800,"1,83,000",2012,"55,876 KM",PETROL,"Goregaon, Mumbai"

In [3]:
data_without_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" not in x.split(" ") else False)]

In [4]:
data_without_mumbai['Location'].value_counts()

Location
Mulund    214
Name: count, dtype: int64

In [5]:
data_with_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" in x.split(" ") else False)]

In [6]:
data_with_mumbai['Location'].value_counts().sum()

331

In [7]:
data_with_mumbai['Location'].value_counts()

Location
Goregaon, Mumbai                 191
Rupa Renaissance, Navi Mumbai    140
Name: count, dtype: int64

In [8]:
data.shape

(545, 6)

In [9]:
data['Location'] = data['Location'].apply(lambda x: x+", Mumbai" if "Mumbai" not in x.split(" ") else x)

In [10]:
data_without_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" not in x.split(" ") else False)]
data_without_mumbai['Location'].value_counts()

Series([], Name: count, dtype: int64)

In [12]:
data_with_mumbai = data[data['Location'].apply(lambda x: True if "Mumbai" in x.split(" ") else False)]
data_with_mumbai['Location'].value_counts()

Location
Mulund, Mumbai                   214
Goregaon, Mumbai                 191
Rupa Renaissance, Navi Mumbai    140
Name: count, dtype: int64

In [13]:
data_with_mumbai['Location'].value_counts().sum()

545

In [14]:
data.to_csv("Cars24/corrected_data/cars24_mumbai_corrected.csv")

In [3]:
data = pd.read_csv("Cars24/cars24_bangalore.csv")
data.head(5)

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Toyota Innova Crysta,"20,93,000",2022,"13,719 KM",PETROL,"Garuda Mall, Magrath Road, Bengaluru"
1,Maruti Ertiga,"5,89,000",2012,"1,38,142 KM",DIESEL,"Bellahalli, Bengaluru"
2,Ford Ecosport,"6,07,000",2015,"1,30,981 KM",DIESEL,"Bellahalli, Bengaluru"
3,Volkswagen Polo,"8,34,000",2019,"32,585 KM",PETROL,"Bellahalli, Bengaluru"
4,Hyundai Creta,"8,64,000",2016,"81,853 KM",PETROL,"Bellahalli, Bengaluru"

In [9]:
data_without_bangalore = data[data['Location'].apply(lambda x: True if "Bengaluru" not in x.split(" ") else False)]
data_without_bangalore['Location'].value_counts()

Location
Whitefield Main Road, Bhoruka Tech Park, Benga...    91
Sonnappanahalli                                      51
Name: count, dtype: int64

In [6]:
data_without_bangalore['Location'].value_counts().sum()

142

In [5]:
data_with_bangalore = data[data['Location'].apply(lambda x: True if "Bengaluru" in x.split(" ") else False)]
data_with_bangalore['Location'].value_counts()

Location
Bellahalli, Bengaluru                   198
Hosur Road, Singasandra, Bengaluru       67
Horamavu Agara Road, Bengaluru           55
Garuda Mall, Magrath Road, Bengaluru     50
GT World Mall, Bengaluru                 35
Name: count, dtype: int64

In [7]:
data_with_bangalore['Location'].value_counts().sum()

405

In [11]:
data['Location'] = data['Location'].apply(lambda x: x.replace("Benga...","Bengaluru") if "Benga..." in x.split(" ") else x)

In [12]:
data_without_bangalore = data[data['Location'].apply(lambda x: True if "Bengaluru" not in x.split(" ") else False)]
data_without_bangalore['Location'].value_counts()

Location
Sonnappanahalli    51
Name: count, dtype: int64

In [13]:
data['Location'] = data['Location'].apply(lambda x: x + ", Bengaluru" if "Bengaluru" not in x.split(" ") else x)

In [14]:
data_without_bangalore = data[data['Location'].apply(lambda x: True if "Bengaluru" not in x.split(" ") else False)]
data_without_bangalore['Location'].value_counts()

Series([], Name: count, dtype: int64)

In [15]:
data_with_bangalore = data[data['Location'].apply(lambda x: True if "Bengaluru" in x.split(" ") else False)]
data_with_bangalore['Location'].value_counts()

Location
Bellahalli, Bengaluru                                 198
Whitefield Main Road, Bhoruka Tech Park, Bengaluru     91
Hosur Road, Singasandra, Bengaluru                     67
Horamavu Agara Road, Bengaluru                         55
Sonnappanahalli, Bengaluru                             51
Garuda Mall, Magrath Road, Bengaluru                   50
GT World Mall, Bengaluru                               35
Name: count, dtype: int64

In [16]:
data_with_bangalore['Location'].value_counts().sum()

547

In [17]:
data.to_csv("Cars24/corrected_data/cars24_bangalore_corrected.csv")

In [26]:
data = pd.read_csv("Cars24/cars24_newdelhi.csv")
data.head(5)

,CarName,Price,Year,KilometersDriven,Fuel Type,Location
0,Maruti Alto,"1,16,000",2010,"50,962 KM",PETROL,"GIP Mall, Noida"
1,Tata NEXON,"7,40,000",2020,"61,698 KM",PETROL,"Metro Walk, Rohini, New Delhi"
2,Hyundai GRAND I10 NIOS,"5,99,000",2019,"76,421 KM",PETROL,"GIP Mall, Noida"
3,Maruti S PRESSO,"3,84,000",2019,"20,792 KM",PETROL,"Parsvnath City Mall, Faridabad"
4,Toyota Corolla Altis,"3,56,000",2011,"67,066 KM",PETROL,"Metro Walk, Rohini, New Delhi"

In [27]:
data['Location'].value_counts()

Location
Sector-18, Noida                              94
Metro Walk, Rohini, New Delhi                 79
Parsvnath City Mall, Faridabad                67
Spaze Platinum, Sohna Road, Gurugram          64
M3M Urbana, Golf Course Ext., Gurugram        56
Hindon, Sewa Nagar, Ghaziabad                 55
GIP Mall, Noida                               44
KW Delhi 6, Raj Nagar Extension, Ghaziabad    38
Vasant Kunj, New Delhi                        34
Chhatarpur, Delhi                             26
Name: count, dtype: int64

In [28]:
data_with_delhi = data[data['Location'].apply(lambda x: True if "Delhi" in x.split(" ") else False)]
data_with_delhi['Location'].value_counts()

Location
Metro Walk, Rohini, New Delhi                 79
KW Delhi 6, Raj Nagar Extension, Ghaziabad    38
Vasant Kunj, New Delhi                        34
Chhatarpur, Delhi                             26
Name: count, dtype: int64

In [29]:
data_with_delhi['Location'].value_counts().sum()

177

In [30]:
data_without_delhi = data[data['Location'].apply(lambda x: True if "Delhi" not in x.split(" ") else False)]
data_without_delhi['Location'].value_counts()

Location
Sector-18, Noida                          94
Parsvnath City Mall, Faridabad            67
Spaze Platinum, Sohna Road, Gurugram      64
M3M Urbana, Golf Course Ext., Gurugram    56
Hindon, Sewa Nagar, Ghaziabad             55
GIP Mall, Noida                           44
Name: count, dtype: int64

In [31]:
data_without_delhi['Location'].value_counts().sum()

380

In [32]:
data['Location'] = data['Location'].apply(lambda x: x + ", Delhi" if "Delhi" not in x.split(" ") else x)

In [33]:
data_without_delhi = data[data['Location'].apply(lambda x: True if "Delhi" not in x.split(" ") else False)]
data_without_delhi['Location'].value_counts()

Series([], Name: count, dtype: int64)

In [34]:
data_with_delhi = data[data['Location'].apply(lambda x: True if "Delhi" in x.split(" ") else False)]
data_with_delhi['Location'].value_counts()

Location
Sector-18, Noida, Delhi                          94
Metro Walk, Rohini, New Delhi                    79
Parsvnath City Mall, Faridabad, Delhi            67
Spaze Platinum, Sohna Road, Gurugram, Delhi      64
M3M Urbana, Golf Course Ext., Gurugram, Delhi    56
Hindon, Sewa Nagar, Ghaziabad, Delhi             55
GIP Mall, Noida, Delhi                           44
KW Delhi 6, Raj Nagar Extension, Ghaziabad       38
Vasant Kunj, New Delhi                           34
Chhatarpur, Delhi                                26
Name: count, dtype: int64

In [35]:
data_with_delhi['Location'].value_counts().sum()

557

In [36]:
data.to_csv("Cars24/corrected_data/cars24_newdelhi_corrected.csv")